.custoNavbar {
  transition: 500ms ease;
  background: transparent;
  color: black;
}

.Link {
  color: black!important;
}

.navbar {
  height: 50px;
  color: #cde990;
}

.active {
  color: #cde990;
}

.sliceNavbar {
  background-color: #cde990;
}

.brandName {
  margin-left: 15px;
  color: #d5cea3;
}
